<!-- <h1>Player#index</h1>
<p>Find me in app/views/player/index.html.erb</p>
 -->
<link rel="stylesheet" href="http://extjs.cachefly.net/ext-4.1.1-gpl/resources/css/ext-all-access.css">

<p> <%= "Hello #{current_user.email}"  %> </p>

<p> <%= link_to "Play", game_play_path %> </p>
<p> <%= link_to "Moderate", game_moderator_path %> </p>
<p> <%= link_to "Watch", game_global_path %> </p>

<p> <br> <br> <%= link_to "Help", player_help_path %> </p>